<div class="row">
</div>
<div class="row">
  <div class="col-md-12">
    <div class="jumbotron-fluid">
      <div class="container" style="display: flex; justify-content: center; align-items: center; text-align: center; height: 50vh">
        <h1><%= message %></h1>
      </div>
      <div class="container" style="display: flex; justify-content: center; align-items: center">
        <a href="/" class="btn btn-success btn-lg">Get Message</a>
      </div>
    </div>
  </div>
</div>
<div class="foot"> <span> Powered by <a href="http://gobuffalo.io/">gobuffalo.io</a></span> </div>
